@import 'colors.css';

* {
    font-family: monospace;
    font-size: 16px;
    min-height: 0;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: @background;
}

#workspaces {
    background-color: transparent; 
    padding-left: 4px;
    font-weight: bolder;
}

#workspaces button {
    all: unset;
    background-color: transparent;
    color: @foreground;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button.active {
    background-color: @primary;
    color: @background;
}

#workspaces button:hover {
    background-color: @background-alt;
    color: @foreground;
}

#workspaces button.urgent {
    background-color: @urgent;
    color: @background;
}

#window,
#backlight,
#pulseaudio,
#memory,
#cpu,
#network,
#clock {
    color: @foreground;
}

#backlight,
#pulseaudio,
#memory,
#cpu,
#network,
#clock {
    background-color: @background-alt;
    margin: 4px 4px 4px 0px;
    border-radius: 3px;
    padding: 0 8px;
}

#pulseaudio.muted {
    padding: 0px 11px 0px 9px;
}

#window {
    padding-left: 4px;
}

#custom-powermenu {
    background-color: @primary;
    color: @background-alt;
    margin-right: 3px;
}

#custom-powermenu:hover {
    background-color: @background-alt;
    color: @foreground;
}

#tray {
    padding-right: 6px;
    padding-left: 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#keyboard-state label {
    opacity: 0;
}

#keyboard-state label.locked {
    opacity: 1;
    color: @background;
    background-color: @urgent;
    padding: 0 8px;
    margin: 4px 4px 4px 0;
    border-radius: 3px;
    font-weight: bolder;
}

#workspaces button, #custom-powermenu {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 3px;
}

tooltip {
    background-color: @background-alt;
    border: 1px solid @primary;
    border-radius: 5px;
}

tooltip label {
    color: @foreground;
    font-weight: bold;
}
