@define-color black   #333C43;
@define-color blue    #7FBBB3;
@define-color cyan    #83C092;
@define-color green   #A7C080;
@define-color magenta #D699B6;
@define-color red     #E67E80;
@define-color white   #D3C6AA;
@define-color yellow  #DBBC7F;

@define-color text    #D3C6AA;
@define-color base    #272E33;
@define-color surface #333C43;
@define-color hover   #7A8478;
@define-color active  @green;

* {
    all: unset;
    font-size: 1rem;
    font-weight: 900;
    font-family: JetBrainsMonoNerdFont;
    transition: 120ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
    background-color: transparent;
}

.control-center {
    background-color: @base;
    color: @text;
    padding: 12px;
    margin: 0;
    border: 1px solid @active;
    border-radius: 12px;
}

.widget-buttons-grid {
    margin-right: -18px;
    margin-bottom: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background-color: @surface;
    padding: 12px 32px;
    margin-right: 12px;
    border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background-color: @hover;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background-color: @active;
    color: @surface;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background-color: alpha(@active, 0.85);
    color: @surface;
}

.widget-volume {
    background-color: @surface;
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}

slider {
}

.widget-volume label {
}

.widget-volume trough {
    background-color: @surface;
    margin: 0 8px;
}

.widget-volume trough highlight {
    background-color: @active;
    border: unset;
}

.widget-volume button {
    padding: 0 4px;
    margin-left: 4px;
    margin-right: -1px;
}

.per-app-volume {
    padding: 12px 0px 0px 0px;
    margin-right: -8px;
    border-radius: 8px;
}

@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.7);
.widget-mpris {
    margin-bottom: 12px;
    border-radius: 8px;
}

.widget-mpris-player {
    background-color: @mpris-album-art-overlay;
    padding: 12px;
    border-radius: 8px;
}

.widget-mpris button {
    padding: 4px;
    border-radius: 8px;
}

.widget-mpris button:hover {
    background-color: @hover;
}

.widget-mpris-album-art {
    margin: 8px 0 0 8px;
    border-radius: 8px;
}

.mpris-background {
    filter: blur(16px);
}

.widget-mpris-title {
}

.widget-mpris-subtitle {
}

.widget-dnd {
    margin-bottom: 12px;
}

.widget-dnd > switch {
    background-color: @surface;
    color: @text;
    padding: 2px;
    border-radius: 8px;
}

.widget-dnd > switch:hover {
    background-color: @hover;
}

.widget-dnd > switch:hover:checked {
    background-color: @hover;
    color: @text;
}

.widget-dnd > switch:checked {
    background-color: alpha(@active, 0.2);
    color: @text;
}

.widget-dnd > switch slider {
    background-color: alpha(@hover, 0.2);
    color: @crust;
    border: 2px solid alpha(@active, 0.5);
    border-radius: 8px;
}

.widget-dnd > switch:checked slider {
    background-color: alpha(@active, 0.5);
    border: 2px solid @active;
}

/* Notification clear button */
.widget-title {
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.widget-title button {
    background-color: @surface;
    padding: 4px 16px;
    border-radius: 8px;
}

.widget-title button:hover {
    background-color: @hover;
}

/* Notifications  */
.control-center .notification-group {
    background-color: @surface;
    padding: 12px 12px 0px 12px;
    border-radius: 8px;
}

.control-center .notification {
    background-color: @base;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.control-center .notification.critical {
    color: @red;
}

.notification-action {
    background-color: @surface;
    padding: 8px;
    border-radius: 8px;
}

.notification-action:hover {
    background-color: @hover;
}

.control-center .notification-row .notification-background .close-button {
    background-color: @surface;
    color: @text;
    padding: 8px;
    margin: 9px;
    border-radius: 20px;
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: @hover;
}

progressbar,
progress,
trough {
    border-radius: 4px;
}

trough highlight {
    padding: 8px;
    border-radius: 4px;
}

trough slider {
    border: none;
    outline: none;
}

trough slider:hover {
}

/* Notifications expanded-group */
.notification-group {
    background-color: @surface;
}

.notification-group-headers {
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.notification-group-icon {
    padding: 4px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background-color: @surface;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 20px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background-color: @hover;
}

.floating-notifications .notification {
    background-color: @base;
    color: @text;
    padding: 16px;
    margin: 8px 8px 0px 8px;
    border: 1px solid @active;
    border-radius: 12px;
}

.floating-notifications
.notification.critical {
    border: 1px solid @red;
}

.floating-notifications.background
.notification-row
.notification-background
.notification
> *:last-child
> *
.notification-action:hover {
    background-color: @hover;
    border: 1px solid @active;
}

.floating-notifications.background
.notification-row
.notification-background
.notification
> *:last-child
> *
.notification-action:active {
    background-color: @active;
    color: @surface;
}

.image {
    margin: 0px 16px 16px 0px;
    border-radius: 8px;
}

.summary {
    font-weight: 800;
    font-size: 16px;
}

.body {
    font-size: 0.8rem;
}

.floating-notifications.background
.notification-row
.notification-background
.close-button {
    background-color: @surface;
    color: @text;
    padding: 8px;
    margin: 17px 16px;
    border-radius: 20px;
}

.floating-notifications.background
.notification-row
.notification-background
.close-button:hover {
    background-color: @hover;
}

.floating-notifications progressbar,
.floating-notifications trough,
.floating-notifications progress {
    padding: 5px 0px;
}

.floating-notifications progressbar {
    background-color: transparent;
}

.floating-notifications trough {
    background-color: @surface;
}

.floating-notifications progress {
    background-color: @active;
}
